.task {
  background-color: #f4f4f4;
  margin: 8px;
  padding: 10px 20px;
}

.task.reminder {
  border-left: 5px solid rgb(60, 60, 185);
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-appt {
  font-size: 23px;
}
